server {
  server_name www.DOMAIN DOMAIN;
 
  root ROOT;
 
  access_log LOG_DIR/access.log;
  error_log LOG_DIR/error.log error;
  
  index index.html index.htm;
 
  # serve static files directly
  location ~* \.(jpg|jpeg|gif|css|png|js|ico|html)$ {
    access_log off;
    expires max;
  }
 
  location ~ /\.ht {
    deny  all;
  }
}
